---
export const prerender = false
export async function getStaticPaths() {
  const conexion = useConexion();
  const response = await conexion.get(Astro.cookies.get("token").toString(),
    `projects/${Astro.cookies.get("user").json().external_id}`
  );

  if (!response || !response.info) {
    console.error("No hay datos disponibles");
    return [];
  }
  return response.info.map((project) => ({
    params: { project_id: project.external_id }, // Cambiado a `project_id`
  }));
}
const token = Astro.cookies.get("token");
const user = Astro.cookies.get("user");
if (!token || !user) {
  return Astro.redirect("/login");
}
import Layout from "@layouts/Layout.astro";
import useConexion from "@utiles/hooks/Conexion";
import QuestionContainer from "@components/container/QuestionContainer.astro";
import AppHeaderProject from "@components/AppHeaderProject.astro";

const { project_id } = Astro.params;
const conexion = useConexion();
let project;

const fetchProjects = async () => {
  try {
    const response = await conexion.get(Astro.cookies.get("token").toString(),
      `project/alone/${Astro.cookies.get("user").json().external_id}/${project_id}`,
    );
    if (response?.code === 200) {
      project = response.info.project;
    }else{
      Astro.redirect("/dashboard");
    }
  } catch (error) {
    Astro.redirect("/dashboard");  } 
};
await fetchProjects();
---
<Layout title={project.name}>
  <main class="pt-20 px-6 sm:px-12 lg:px-20 min-h-screen bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center">
      <AppHeaderProject project_id={project.external_id} />
    </div>
    <section class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md mb-2">
      <h1 class="text-4xl font-bold text-gray-900 dark:text-gray-100 mb-6 text-center">{project.name}</h1>
     <div class="mb-8"> <!-- Espacio entre subtítulos -->
      <label class="flex items-center gap-3 cursor-pointer"><span class="text-lg">{project.description}</span> </label>

         </h1>
    </section>

    <div class="space-y-12">
      <QuestionContainer  project_id={project.external_id}  />
    </div>
  </main>
</Layout>
